<form action="/robots" method="post">
  <p>Enter a new task:</p>
  <input type='text' name='name'/><br/>
  <textarea name='city'></textarea><br/>
  <textarea name='state'></textarea><br/>
  <textarea name='department'></textarea><br/>
  <input type='submit'/>
</form>
