<form action="/robots" method="post">
  <h3>Synthesize a new Robot</h3>
  <label>Name:</label>
  <input type='text' name='name'/><br/>
  <label>City of Residence:</label>
  <textarea name='city'></textarea><br/>
  <label>State of Residence</label>
  <textarea name='state'></textarea><br/>
  <label>Department (ex: Housekeeping, Childrearing, *Personal*...)</label>
  <textarea name='department'></textarea><br/>
  <input type='submit'/>
</form>
